//same with trnx form
.budget-form-wrapper {
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 99;

    .MuiTextField-root,
    .MuiFormControl-root {
      margin-bottom: 1rem;
    }

    .form-actions {
      flex: 0 0 auto;
      display: flex;
      // padding: 8px;
      align-items: center;
      justify-content: flex-end;
      margin: 10px 0;
    }
  }
}
