.budget-list {
  .budget-list-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    align-items: center;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 500;

    .item-date {
      color: #b1b1b1;
      display: flex;
      align-items: center;
      font-weight: 600;
    }

    .arrow-icon {
      cursor: pointer;
      font-size: 15px;
    }
  }

  .budget-list-card {
    margin-top: 20px;
    width: 100%;

    .total-budget {
      text-align: right;
      padding: 10px 0;
      text-transform: uppercase;
      color: #808080;
      font-weight: 600;
      font-size: 15px;
    }

    .card-item {
      border-radius: 6px;
      padding: 10px;
      padding-left: 20px;

      &.total {
        text-transform: uppercase;
        padding-right: 20px;
      }

      .list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .left-col {
        width: 95%;
      }

      .left-col-details {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .left-col-details-title {
        font-weight: 600;
        color: #262626;
      }

      .sub-details {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &.total {
          flex-direction: column;
        }
      }

      .sub-details-left {
        width: 30px;
        height: 30px;
        background-color: pink;
        border-radius: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        &.total-left {
          background-color: white;
        }
      }

      .sub-details-right {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding-left: 5px;
      }

      .sub-details-progress-bar {
        width: 100%;
        margin-top: 10px;
      }

      .reach-progress-limit {
        .MuiLinearProgress-bar {
          background-color: #f44336;
        }
      }

      .sub-details-amount-left {
        display: flex;
        align-self: flex-end;
        font-size: 11px;
        margin-top: 3px;

        &.overspent {
          color: #f44336;
        }
      }

      .right-col {
        width: 5%;
        color: #808080;

        .more-icon {
          width: 20px;
          margin: auto;
          display: flex;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .MuiPaper-rounded {
      margin-bottom: 10px;
    }
  }
}

.budget-transactions-modal-content {
  .date-range {
    text-align: center;
    padding-bottom: 10px;
    color: #808080;
  }

  .table {
    padding-bottom: 20px;
  }

  .no-data {
    text-align: center;
    margin-top: 20px;
  }
}
