.transaction-list {
  .transaction-list-card {
    margin-top: 20px;

    .card-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      align-items: flex-end;
      padding: 0 20px;
      font-size: 15px;
      font-weight: 500;

      .item-date {
        color: #b1b1b1;
      }
    }

    .card-item {
      &:hover {
        cursor: pointer;
      }
    }

    .list-item {
      display: flex;
      justify-content: space-between;

      .item-title {
        font-weight: 400;
        color: #262626;
      }

      .item-subcategory {
        font-size: 14px;
      }
    }

    .MuiPaper-rounded {
      border-radius: 0;
    }
  }
}

.empty-card {
  margin-top: 100px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #808080;
  font-weight: 500;
}
