.transaction-container {
  width: 100%;
  height: 100%;
  padding-left: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    button {
      padding: 8px 10px;
      background-color: #fafafa;
      border: 3px solid #1dc29f;
      border-radius: 4px;
      font-size: 1rem;
      font-weight: 600;
      color: #1dc29f;
      outline-color: #22aa8d;
      cursor: pointer;
    }
  }

  .paginatiton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.MuiTypography-h6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
