.header-container {
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-brand {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #808080;
  }

  .navbar-list {
    list-style: none;

    .navbar-item {
      font-size: 20px;
    }
  }
}
