.side-nav-container {
  float: left;
  width: 20%;
  min-width: 20%;

  .side-navbar {
    a {
      text-decoration: none;
      color: #808080;
    }

    .active {
      color: #1e997e;
      font-weight: 600;
    }

    .side-navbar-item {
      width: 100%;
      padding: 12px 0;
      font-size: 16px;
      border-radius: 10px;

      .icon {
        margin-right: 10px;
        font-size: 18px;
      }
    }
  }
}
