.header-container {
  width: 100%;
  min-height: 70px;
  border-bottom: 1px solid #f1f1f1;
  background: #ffffff;
  display: flex;
  align-items: center;
  // border: solid 1px red;

  .header {
    width: 60%;
    margin: 0 auto;
    // border: 1px solid orange;
  }

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .navbar-brand {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #808080;
    // border: 1px solid pink;
  }

  .navbar-list {
    list-style: none;
    // border: 1px solid red;

    .navbar-item {
      font-size: 20px;
      // border: 1px solid green;
    }
  }
}
