.side-nav-container {
  float: left;
  width: 30%;

  .side-navbar-list {
    list-style-type: none;
  }

  .side-navbar-item {
    width: 100%;
    padding: 12px 0;

    a {
      width: 100%;
      text-decoration: none;
      font-size: 16px;
      padding: 10px 16px;
      color: #808080;
      border-radius: 5px;
    }

    .icon {
      margin-right: 10px;
    }
  }

  .active {
    background-color: #f1f1f1;
    color: #000;
  }
}
