.side-nav-container {
  float: left;
  width: 20%;
  // border: 1px solid green;

  .side-navbar-list {
    list-style-type: none;
  }

  .side-navbar-item {
    font-size: 16px;
    padding: 16px 0;
    line-height: 1em;
    border-radius: 5px;

    .side-nav-link {
      text-decoration: none;
    }

    .icon {
      margin-right: 10px;
    }
  }
  .side-navbar-item:hover,
  .side-navbar-item:active {
    background-color: #f1f1f1;
    color: #000;
  }
}
