.transaction-total {
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .total {
    padding: 20px 15px;
    border-radius: 6px;
    font-weight: 600;
    border: 1px solid #e5e9ed;
    transition: box-shadow 0.2s;
    background-color: #fff;
  }

  .income {
    color: #1dc29f;
  }

  .expense {
    color: #fe3b2c;
  }

  .balance {
    color: #4e82b4;
  }
}

.transaction-list {
  margin-top: 20px;

  .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: flex-end;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 500;

    .item-date {
      color: #b1b1b1;
    }
  }

  .list-item {
    display: flex;
    justify-content: space-between;

    .left-col {
      width: 95%;
      margin-left: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .item-title {
        font-weight: 400;
        color: #262626;
      }

      .item-subcategory {
        font-size: 13px;
        color: #808080;
      }
    }

    .right-col {
      width: 5%;
      display: flex;
      align-items: center;
      justify-content: center;

      .more-icon {
        color: #808080;
        cursor: pointer;
      }
    }
  }

  .MuiPaper-rounded {
    border-radius: 0;
  }
}

.empty-card {
  margin-top: 100px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #808080;
  font-weight: 500;
}
