.transaction-container {
  width: 100%;
  min-width: 80%;
  height: 100%;
  padding-left: 20px;

  .header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .add-button {
      padding: 10px 10px;
      background-color: #fafafa;
      border: 1px solid #1dc29f;
      border-radius: 4px;
      font-size: 1rem;
      font-weight: 600;
      color: #1dc29f;
      outline-color: #22aa8d;
      cursor: pointer;
    }
  }

  .date {
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #808080;
    text-transform: uppercase;
    font-weight: 500;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.MuiTypography-h6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
