.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 100vh;

  .MuiButton-label {
    color: #fff;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 50px;

    .no-account {
      color: #808080;
      font-size: 16px;

      .link {
        color: #22aa8d;
        font-weight: 400;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  .login-wrapper {
    height: calc(100vh - 32px);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .form {
      .title {
        font-size: 18px;
        padding-bottom: 10px;
        text-align: center;
      }
    }

    .image-container {
      width: 50%;
      .image {
        height: 450px;
        width: 450px;
      }
    }

    .note {
      margin-top: 10px;
      text-align: center;

      .details {
        width: 87%;
        margin: 0 auto;
        margin-top: 5px;
        text-align: left;
      }
    }
  }
}
