.signup-wrapper {
  display: flex;
  flex-direction: row;
  width: 65%;
  margin: auto;
  height: 100vh;

  .welcome {
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      color: #22aa8d;
      font-size: 1.85rem;
      font-weight: 600;
      letter-spacing: 0.025em;
    }

    .detail {
      font-size: 15px;
      font-weight: 500;
      margin-top: 10px;
    }

    .image {
      margin-top: 35px;
    }
  }
  .form {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;

    .header {
      padding-bottom: 25px;
      text-align: center;

      .description {
        font-size: 16px;
        margin-top: 10px;

        .link a {
          color: #22aa8d;
          font-weight: 500;
          text-decoration: none;
        }
      }
    }

    .MuiIconButton-label {
      color: #808080;
    }

    button {
      color: #fff;
    }
  }
}
